{% extends 'base.html.twig' %}

{% block title %}CV de {{ user.firstName }} {{ user.lastName }} || PHP/Symfony {% endblock %}

{% block body %}
    <header>
        {% block jumb %}
            <div id="alert"></div>
            <div class="jumbotron" style="background-color:#1a2a50;color:#fff">
                <div class="pb-2 text-center">
                    <h1 class="display-4" style="color:#fff">{{ user.firstName }}  {{ user.lastName }}</h1>
                    <hr class="my-3">
                    <p><i class="fas fa-user" style="margin-right:10px;"></i>{{ user.email }} | {{ user.tel }}</p>
                    <p><a href="http://{{user.site}}" target="blank" style="color:#fff">Site internet</a></p>
                </div>
            </div>
        {% endblock %}
    </header>
    <main>
        <div class="container justify-content-center">   
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fab fa-dev"></i> Compétences</h4>
                            <ul>
                                {% for skill in skills %}
                                    <li>{{ skill.label }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card diploma">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-user-graduate"></i> Diplômes</h4>
                            <ul>
                                {% for formation in formations %}
                                    <li>{{ formation.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 mb-3">
                    <div class="card real">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-code"></i> Réalisations</h4>
                            <ul>
                                {% for realisation in realisations %}
                                    <li>{{ realisation.title }} {% if realisation.finished == 0 %}<span class="badge badge-pill badge-warning">Non terminé !</span>{% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="container mt-4 d-flex justify-content-center md-col-4">
            <a href="{{ asset('pdf/'~ user.pdf) }}" target="blank" class="btn btn-light ml-2 btn_blue pdf"><i class="fas fa-file-pdf"></i> Télécharger le CV de {{user.firstName}} {{user.lastName}} en PDF</a>
            <a href="{{ user.git }}" target="blank" class="btn btn-light ml-2 btn_blue git"><i class="fab fa-gitlab"></i> Gitlab de {{user.firstName}} {{user.lastName}}</a>
            <a href="{{ user.linkedin }}" class="btn btn-light ml-2 btn_blue linkedin" target="blank"><i class="fab fa-linkedin"></i> LinkedIn de {{user.firstName}} {{user.lastName}}</a>
            <p>
        </div>
    </footer>
{% endblock %}

