{% extends 'base.html.twig' %}

{% block title %}❌ Erreur !{% endblock %}

{% block body %}
    {% block jumb %}
        <div class="jumbotron" style="background-color:#1a2a50;color:#fff">
            <h1 class="display-4 text-center" style="color:#fff">Erreur !</h1>
            <hr class="my-3">
            <p class="text-center">Ce CV est inexistant !</p>
            <p class="text-center"><a class="text-center btn btn-light" href="{{asset('home')}}">Retour à la page d'accueil</a></p>
        </div>
    {% endblock %}
{% endblock %}