{% extends 'base.html.twig' %}

{% block title %}🏠 Home{% endblock %}

{% block body %}
    {% block jumb %}
        <div class="jumbotron" style="background-color:#1a2a50;color:#fff">
            <h1 class="display-4 text-center" style="color:#fff">Home</h1>
            <hr class="my-3">
            <p class="text-center">Veuillez selectionner un CV.</p>
            <p class="text-center">(De toute façon, il n'y en a qu'un.)</p>
        </div>
    {% endblock %}
    <div class="container d-flex justify-content-center">
        {% for user in users %}
                <div class="card" style="width: 20rem;">
                    <a href="{{path('cv',{'id': user.id})}}">
                        <div class="card-body">
                            <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
                            <p class="card-text">{{user.tel}} || {{user.email}}</p>
                        </div>
                    </a>    
                </div>
        {% endfor %}
    </div>
    <div class="container d-flex justify-content-center text-center mt-5">
        <p>Ce CV a été conçu en <span style="font-weight:bold"><i class="fab fa-symfony"></i> Symfony</span></p>
{% endblock %}
