<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <html lang="fr-FR">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BASE{% endblock %}</title>
        {% block stylesheets %}
            {# Bootstrap CDN #}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            
            {# Shards - Bootstrap UI Kit #}
            <link rel="stylesheet" href="{{asset('css/shards.css')}}">

            {# CSS #}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block scripts_base %}

            {# FontAwesome #}
            <script src="https://kit.fontawesome.com/25099b1802.js" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>
